node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler

GEMINI.md
.superpowers

.worktrees/
worktrees/
.cursor/
docs/

.claude
CLAUDE.md
specs/TODO.md
.gemini/
*.tsbuildinfo
