.header {
	height: 60px;
	width: 100%;
	background-color: var(--mantine-color-white);
	border-bottom: 1px solid var(--mantine-color-slate-100);
	padding-left: var(--mantine-spacing-lg);
	padding-right: var(--mantine-spacing-lg);
}

.inner {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--mantine-spacing-md);
}

.link {
	display: block;
	line-height: 1;
	padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
	border-radius: var(--mantine-radius-sm);
	text-decoration: none;
	color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
	font-size: var(--mantine-font-size-sm);
	font-weight: 500;

	@mixin hover {
		background-color: light-dark(
			var(--mantine-color-gray-0),
			var(--mantine-color-dark-6)
		);
	}
}

.linkActive {
	color: var(--mantine-color-primary-6);
	background-color: light-dark(
		var(--mantine-color-primary-0),
		var(--mantine-color-dark-6)
	);
}

.linkActive:hover {
	background-color: light-dark(
		var(--mantine-color-primary-1),
		var(--mantine-color-dark-5)
	);
}
